/tests_flash/.temp
/tests_flash/build
/tests_flash/report
*.swf
/samples_flash/flickrsphere
/samples_flash/frocessing
/samples_flash/progression
/samples_flash/libs/*.swc
/samples_flash/tweenAndEvent1
/samples_flash/tweenAndEvent2
/tests_openfl/.temp
/tests_openfl/report
/tests_openfl/build
/samples_openfl/hello/bin
/tests_openfl_munit
/samples_openfl/loadImages/bin
/samples_openfl/test
/samples_openfl/progress/bin
/samples_openfl/urlloader/bin
/samples_openfl/urlloader/bin_with_progress
/samples_openfl/tweenx/bin
/samples_openfl/tweenx/bin_2
/samples_openfl/autoShowHide/bin
